<footer class="site-footer">

  <div class="wrapper">
    <!--nav>
      <ul><li><a href="/parking">Parking</a></li>
          <li><a href="/public-safety">Public safety</a></li>
          <li><a href="/jobs">Jobs</a></li>
      </ul>
    </nav-->


    <nav class="site-nav">
     
      <div class="trigger">
        <a href="/about">About</a>
        <a href="/help">Help</a>

      </div>
    </nav>
    </div>

    <p class="disclaimer">This is an alpha (demo) website for the City of Oakland, created by Code for America. The information provided may be inaccurate, so please ensure you visit Oaklandnet.com to verify anything that you read here. &copy; City of Oakland, Code for America, 2014</p>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20825280-21', 'auto');
  ga('send', 'pageview');

</script>