<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <div class="search">
      <input type="search" placeholder="pay parking ticket" /><input type="submit" value="Search" />
    </div>
    <nav class="main-nav">
    	<ul>
            {% for navigation_hash in site.navigation %}
                {% for navigation in navigation_hash %}
                    <li><a href="/{{ navigation[0] }}">{{ navigation[1] }}</a></li>
                {% endfor %}
            {% endfor %}
    	</ul>
    </nav>
  </div>

    
</header>
