<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <div class="search">
      <input type="search" placeholder="pay parking ticket" /><input type="submit" value="Search" />
    </div>
    <nav class="main-nav">
    	<ul>
    		<li><a href="/government">Government</a></li>
    		<li><a href="/jobs">Jobs</a></li>
    		<li><a href="/public-safety">Public Safety</a></li>
    		<li><a href="">Licensing &amp; Permits</a></li>
    		<li><a href="">Utilities &amp; Streets</a></li>
    		<li><a href="/transport">Transport</a></li>
            <li><a href="">Parks &amp; Recreation</a></li>
    	</ul>
    </nav>
  </div>

    
</header>
