<header class="site-header">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <div class="search">
        <form class="search-global" id="search-global" action="https://www.google.com/search" method="get" role="search">
            <input type="hidden" name="as_sitesearch" value="{{site.url}}" />
            <input type="search" placeholder="pay parking ticket" /><input type="submit" value="Search" type="submit" />
        </form>
    </div>
    <nav class="main-nav">
    	<ul>
            {% for nav in site.data.categories.toplevel %}
                <li><a href="/{{ nav.url }}">{{ nav.name }}</a></li>
            {% endfor %}
    	</ul>
    </nav>
</header>


