---
layout: default
---
<div class="post">

  <header class="post-header">
  	<p class="breadcrumb"><a href="/">Home</a> &gt; <a href="/{{ page.section }}">{{ page.title }}</a></p>
    <h1 class="post-title">{{ page.title }}</h1>
    
  </header>

  <article class="post-content">
    {{ content }}
  </article>

    <div class="department">
      <h2>Information provided by {{ page.departments }}</h2>
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>(800) 500-6484</li>
      </ul>
    </div>

    <p class="post-meta">Last updated: {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <nav class="languages">
      <ul>
        <li>English</li>
        <li><a href="">Español</a></li>
        <li><a href="">中国</a></li>
      </ul>
    </nav>
</div>
