---
layout: default
---
<div class="event">

  <header class="event-header">
    <h1 class="event-title">{{ page.title }}</h1>
  </header>

<!--   <div class="event-info-box">
  	<div class="datetime">
  		<p>{{ page.date }}, {{ page.time }}</p>
  	</div>
  	<div class="address">
  		{{ page.address }}
  	</div>
  	<div class="event-type">
  		<p>{{ page.type }}</p>
  	</div>
  	<div class="event-phone">
  		<p>{{ page.phone }}</p>
  	</div>
  	<div class="event-fee">
  		<p>{{ page.fee }}</p>
  	</div>
  </div> -->
  <article class="event-content">
    {{ content }}
  </article>

</div>
